<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="4bbb2c3e-8f88-47f1-96f3-b38ebb6770ac" Publisher="CN=Jeff" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Day18-FileAssociationsAndAppContracts</DisplayName>
    <PublisherDisplayName>Jeff</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Day18_FileAssociationsAndAppContracts.App">
      <VisualElements DisplayName="Day18-FileAssociationsAndAppContracts" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Day18-FileAssociationsAndAppContracts" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name=".31days">
            <Logo>Assets\Logo.png</Logo>
            <EditFlags OpenIsSafe="true" />
            <SupportedFileTypes>
              <FileType>.31days</FileType>
              <FileType>.png</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
        <Extension Category="windows.accountPictureProvider" />
        <Extension Category="windows.autoPlayContent">
          <AutoPlayContent>
            <LaunchAction Verb="show" ActionDisplayName="Show Pictures" ContentEvent="ShowPicturesOnArrival" />
          </AutoPlayContent>
        </Extension>
        <Extension Category="windows.protocol">
          <Protocol Name="mailto">
            <Logo>Assets\Logo.png</Logo>
          </Protocol>
        </Extension>
        <Extension Category="windows.autoPlayDevice">
          <AutoPlayDevice>
            <LaunchAction Verb="show" ActionDisplayName="Show Pictures" DeviceEvent="WPD\ImageSource" />
          </AutoPlayDevice>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>