@{
    Layout = "/shared/_layout.cshtml";
}

<script type="text/html" id="tile-Template">
    <a data-bind="attr: {href: XXX}" href="#article-1" class="lightbox" rel="section">
        <div class="tile large live" data-stops="0,25%,50%,75%,100%" data-speed="3000" data-delay="0" data-direction="horizontal" data-stack="true">
            <div class="live-front">
                <img class="live-img" src="~/images/placeholder/large_blank.png" alt="Article 1" />
            </div>
            <div class="live-back">
                <img class="live-img" src="~/images/placeholder/large_blank.png" alt="Article 1" />
            </div>
            <span class="tile-date redtxt"><span class="date">09</span><span class="month">July</span></span>
            <span class="tile-cat red">Illustration</span>
        </div>
    </a>
</script>

<!-- <div data-bind="template: { name: 'tile-template', foreach: tiles }"></div> -->


<div class="md-body">
    @for(var i = 0; i < 5; i++)
    {
        <div>
            @RenderPage("~/shared/_newTiles.cshtml");
        </div>
    }
</div>







    
