@{
    Layout = "~/shared/_layout.cshtml";
    PageData["title"] = "Home";
}

<div class="md-body">        
    @RenderPage("/shared/_collection.cshtml")
</div>

@section bottomPageScripts {

    <script type="text/javascript">
        
        $(document).ready(function () {
            $('.tilesCollection').masonry({
                itemSelector : '.tile',
                columnWidth : 160,
                isAnimated: true,
                isFitWidth: true
            });
        });



    </script>    
}