
<section data-bind="template: {name: 'tileGroup-Template' , foreach: masters}"></section>


<script type="text/html" id="tileGroup-Template">

</script>







<section class="tileGroup">
    <h2>Day 31 - Something</h2>
    <div class="tilesCollection">
                        
        <div class="tile large live" data-stops="0,25%,50%,75%,100%" data-speed="3000" data-delay="0" data-direction="horizontal" data-stack="true">
            <div class="live-front">
                <img class="live-img" src="/images/placeholder/large_blank.png" alt="Article 1" />
            </div>
            <div class="live-back">
                <img class="live-img" src="/images/placeholder/large_blank.png" alt="Article 1" />
            </div>
            <span class="tile-date redtxt"><span class="date">09</span><span class="month">July</span></span>
            <span class="tile-cat red">Illustration</span>
        </div>
        
        <div class="tile medium live" data-stops="0,75%,100%" data-speed="750" data-delay="1500">
            <div class="live-front">
                <img class="live-img" src="images/placeholder/medium_blank.png" alt="Article 2" />
            </div>
            <div class="live-back">
                <img class="live-img" src="images/placeholder/medium_blank.png" alt="Article 2" />
            </div>
            <span class="tile-date limetxt"><span class="date">06</span><span class="month">July</span></span>
            <span class="tile-cat lime">Title This</span>
        </div>
                        
        <div class="tile medium live" data-stops="0,75%,100%" data-speed="750" data-delay="1500">
            <div class="live-front">
                <img class="live-img" src="images/placeholder/medium_blank.png" alt="Article 2" />
            </div>
            <div class="live-back">
                <img class="live-img" src="images/placeholder/medium_blank.png" alt="Article 2" />
            </div>
            <span class="tile-date limetxt"><span class="date">06</span><span class="month">July</span></span>
            <span class="tile-cat lime">Title This</span>
        </div>
                                                                              
        <div class="tile small live exclude" data-stops="0,100%" data-speed="1000" data-delay="1500">
            <div class="live-front red">
                <span class="tile-text">Solid Color</span>
            </div>
            <div class="live-back green">
                <span class="tile-text">No Hover Effect</span>
            </div>
        </div>

        <div class="tile small live exclude" data-stops="0,100%" data-speed="1000" data-delay="1500">
            <div class="live-front red">
                <span class="tile-text">Solid Color</span>
            </div>
            <div class="live-back green">
                <span class="tile-text">No Hover Effect</span>
            </div>
        </div>

        <div class="tile small live exclude" data-stops="0,100%" data-speed="1000" data-delay="1500">
            <div class="live-front red">
                <span class="tile-text">Solid Color</span>
            </div>
            <div class="live-back green">
                <span class="tile-text">No Hover Effect</span>
            </div>
        </div>

        <div class="tile small live exclude" data-stops="0,100%" data-speed="1000" data-delay="1500">
            <div class="live-front red">
                <span class="tile-text">Solid Color</span>
            </div>
            <div class="live-back green">
                <span class="tile-text">No Hover Effect</span>
            </div>
        </div>
        <div class="tile small live exclude" data-stops="0,100%" data-speed="1000" data-delay="1500">
            <div class="live-front red">
                <span class="tile-text">Solid Color</span>
            </div>
            <div class="live-back green">
                <span class="tile-text">No Hover Effect</span>
            </div>
        </div>

        <div class="tile small live exclude" data-stops="0,100%" data-speed="1000" data-delay="1500">
            <div class="live-front red">
                <span class="tile-text">Solid Color</span>
            </div>
            <div class="live-back green">
                <span class="tile-text">No Hover Effect</span>
            </div>
        </div>

        <div class="tile small live exclude" data-stops="0,100%" data-speed="1000" data-delay="1500">
            <div class="live-front red">
                <span class="tile-text">Solid Color</span>
            </div>
            <div class="live-back green">
                <span class="tile-text">No Hover Effect</span>
            </div>
        </div>

        <div class="tile small live exclude" data-stops="0,100%" data-speed="1000" data-delay="1500">
            <div class="live-front red">
                <span class="tile-text">Solid Color</span>
            </div>
            <div class="live-back green">
                <span class="tile-text">No Hover Effect</span>
            </div>
        </div>

    </div>
</section>