<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<head lang="en">
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<title>Template Documentation Template</title>
	<!-- Framework CSS -->
	<link rel="stylesheet" href="assets/blueprint-css/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="assets/blueprint-css/print.css" type="text/css" media="print">
	<!--[if lt IE 8]><link rel="stylesheet" href="assets/blueprint-css/ie.css" type="text/css" media="screen, projection"><![endif]-->
	<link rel="stylesheet" href="assets/blueprint-css/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
	<style type="text/css" media="screen">
		p, table, hr, .box { margin-bottom:25px; }
		.box p { margin-bottom:10px; }
		.small-title{ font-weight:bold;}
		.code{ background-color:#eee; }
		.element{ background-color:#eee; font-weight:bold;}
	</style>
</head>


<body>
	<div class="container">
	
		<h3 class="center alt">&ldquo;Matrix&rdquo; Documentation by &ldquo;Billy Foo&rdquo; v1.0</h3>
		
		<hr>
		
		<h1 class="center">&ldquo;Matrix - Responsive Tile-Based Template&rdquo;</h1>
		
		<div class="borderTop">
			<div class="span-6 colborder info prepend-1">
				<p class="prepend-top">
					<strong>
					Created: 08/08/2012<br>
					By: Billy Foo<br>
					Email: <a href="mailto:billy.foo@outlook.com">billy.foo@outlook.com</a>
					</strong>
				</p>
			</div><!-- end div .span-6 -->		
	
			<div class="span-12 last">
				<p class="prepend-top append-0">Thank you for purchasing my theme. If you have any questions that are beyond the scope of this help file, or any suggestions to improve this template, please feel free to email via my user page contact form <a href="http://themeforest.net/user/billyf">here</a>. Thanks so much!</p>
			</div>
		</div><!-- end div .borderTop -->
		
		<hr>
		
		<h2 id="toc" class="alt">Table of Contents</h2>
		<ol class="alpha">
			<li><a href="#htmlStructure">HTML Structure</a>
			  <ol>
			    <li><a href="#header">Header</a></li>
			    <li><a href="#footer">Footer</a></li>
			    <li><a href="#mainpage">Main Page</a></li>
			    <li><a href="#contentsidebar">Content with Sidebar</a></li>
			    <li><a href="#pages">Pages</a></li>
		      </ol>
			</li>
			<li><a href="#cssFiles">CSS Files and Structure</a></li>
			<li><a href="#javascript">JavaScript</a></li>
			<li><a href="#credits">Sources and Credits</a></li>
			<li><a href="#limitations">Known Problems / Limitations</a></li>
		</ol>
		
<hr>
		
		<h3 id="htmlStructure"><strong>A) HTML Structure</strong> - <a href="#toc">top</a></h3>
        
        <h3 class="small-title">Introduction</h3>
		<p>This is a fluid template which focuses on 'tiles' rather than 'columns'. All the pages are HTML5 valid. Generally, there are 3 different template layouts on which the rest of the pages are built upon :</p>
		<ol>
        <li>Main Page<ul>
        <li>index.html</li>
        </ul></li>
        <li>Content with sidebar<ul>
        <li>bloglist.html</li>
        <li>blogtile.html</li>
        <li>singleblogpost.html</li>
        <li>portfoliolist.html</li>
        <li>portfoliotile.html</li>
        <li>singleportfolio.html</li>
        </ul></li>
        <li>Pages<ul>
        <li>features.html</li>
        <li>about.html</li>
        <li>contact.html</li>
        </ul></li>
        </ol>
		
        <p>Main Page, Content Page and Pages Layout (left to right)</p>
		<img src="assets/images/layout1.png" alt="Main Page Layout" />
        <img src="assets/images/layout2.png" alt="Content Page Layout" />
        <img src="assets/images/layout3.png" alt="Pages Layout" />
        
		
	  <p>Before you start editing, I would recommend using a web diagnostic tool such as Firebug addon for Firefox or built-in diagnostic tool in Safari or Opera</p>
      
      <p>All the files in this template are commented to make editing easier. Throughout this documentation, the lines of codes that I mention refer to the lines in the image only, so you need to find the same / similar lines as they might differ in each files. Besides, these styles will be used in this documentation:</p>
      <ol>
      <li><span class="code">//values to be changed//</span></li>
      <li><span class="element">#element / .element</span></li>
      </ol>
      
      <p>Here are some classes for colors which can be used at anywhere within the template. To use them, just put the class into the element which you want the effect to be applied. For example, to create a red tile, just put <span class="element">.red</span> into <span class="element">div.tile</span> , and you should have &lt;div class=&quot;<span class="element">tile red</span>&quot;&gt;&lt;/div&gt;.</p>
      
      <table width="790" border="1">
        <tr bgcolor="#CCCCCC">
          <th width="25%" scope="col">For background color</th>
          <th width="25%" scope="col">For text color</th>
          <th width="50%" scope="col">Color sample</th>
        </tr>
        <tr>
          <td>blue</td>
          <td>bluetxt</td>
          <td bgcolor="#19a2de">&nbsp;</td>
        </tr>
        <tr>
          <td>brown</td>
          <td>browntxt</td>
          <td bgcolor="#9c5100">&nbsp;</td>
        </tr>
        <tr>
          <td>green</td>
          <td>greentxt</td>
          <td bgcolor="#319a31">&nbsp;</td>
        </tr>
        <tr>
          <td>lime</td>
          <td>limetxt</td>
          <td bgcolor="#8cbe29">&nbsp;</td>
        </tr>
        <tr>
          <td>magenta</td>
          <td>magentatxt</td>
          <td bgcolor="#FF0094">&nbsp;</td>
        </tr>
        <tr>
          <td>mango</td>
          <td>mangotxt</td>
          <td bgcolor="#EF9608">&nbsp;</td>
        </tr>
        <tr>
          <td>pink</td>
          <td>pinktxt</td>
          <td bgcolor="#E671B5">&nbsp;</td>
        </tr>
        <tr>
          <td>purple</td>
          <td>purpletxt</td>
          <td bgcolor="#A500FF">&nbsp;</td>
        </tr>
        <tr>
          <td>red</td>
          <td>redtxt</td>
          <td bgcolor="#E61400">&nbsp;</td>
        </tr>
        <tr>
          <td>teal</td>
          <td>tealtxt</td>
          <td bgcolor="#00AAAD">&nbsp;</td>
        </tr>
        <tr>
          <td>black</td>
          <td>blacktxt</td>
          <td bgcolor="#000">&nbsp;</td>
        </tr>
        <tr>
          <td>white</td>
          <td>whitetxt</td>
          <td bgcolor="#fff">&nbsp;</td>
        </tr>
        <tr>
          <td>themecolor</td>
          <td>themecolortxt</td>
          <td>Color changes according to the style-color.css used.</td>
        </tr>
      </table>
      <p>&nbsp;</p>
      <h3 id="header" class="small-title">Editing Header</h3>
      <h4 class="small-title">Logo and Name</h4>
      <img src="assets/images/headerlogo.png" alt="Header Logo" />
      <p>You will need to change <span class="code">//img src//</span> and <span class="code">//name//</span> to your company logo and name.</p>
      
      <h4 class="small-title">Navigation</h4>
      <img src="assets/images/headernav.png" alt="Header Navigation" />
      <p>To create more menu items, just duplicate the codes highlighted in yellow. To create sub-menu, create another list item within the parent menu item, as highlighted in green.</p>
      <p>If you want to make a particular menu item highlighted, just add the class <span class="element">.current</span> to the parent menu item's li tag.</p>
      
      <h3 id="footer" class="small-title">Editing Footer</h3>
      <img src="assets/images/footer.png" alt="Footer" />
      <p>You can change the copyright message enclosed between <span class="element">small</span> tags at line 531 to any message you want.</p>
      <p>This template comes with 10 default social networking websites' icons. To use them, just key in the corresponding classes for the <span class="element">span</span> tag in <span class="element">#footer-social</span>. You can always add additional icons by yourself, or request for it in the item's discussion page and I will try my best to include them in the latest update. Below is the list of classes available in this template :
      <ul>
      <li><span class="element">.behance-mini</span></li>
      <li><span class="element">.dribbble-mini</span></li>
      <li><span class="element">.facebook-mini</span></li>
      <li><span class="element">.flickr-mini</span></li>
      <li><span class="element">.forrst-mini</span></li>
      <li><span class="element">.linkedin-mini</span></li>
      <li><span class="element">.pinterest-mini</span></li>
      <li><span class="element">.tumblr-mini</span></li>
      <li><span class="element">.twitter-mini</span></li>
      <li><span class="element">.vimeo-mini</span></li>
      </ul>
      

		<h3 id="mainpage" class="small-title">Editing Main Page</h3>
        <h4 class="small-title">Slider</h4>
        <p>You will only need to change the <span class="code">//img src//</span>, and <span class="code">//title//</span> in <span class="element">.flex-title</span> for the slide to your desired values. To add more slides, just repeat the highlighted codes.</p>
        <img src="assets/images/slider.png" alt="Slider" />
        <p>If you wish to remove the toggle, you will only need to delete line 90, 92 and 108.
        <p>This template uses Flexslider v2.0, so all the settings found <a href="http://www.woothemes.com/flexslider/">here</a> can be applied to the corresponding function located in /scripts/javascript.js (at line 9)</p>
        <h4 class="small-title">Tile</h4>
        <img src="assets/images/tile.png" alt="Tile Codes" />
        <p>The image above shows all the features embedded in a tile. Each tile uses this formatting. Let's study each component :</p>
        <h4 class="small-title">Yellow Highlight</h4>
        <ol>
        <li><span class="element">a</span> tag
        <ol>
        	<li><span class="element">#article-1</span> is the id of the article within the lightbox preview. It <b>must</b> be the id of the item to be shown.</li>
        	<li><span class="element">.lightbox</span> is required to enable the lightbox preview</li>
            <li><span class="element">rel="section"</span> is used to define the 'gallery' of the lightbox. All items with the same <span class="element">rel</span> can be navigated using the navigation within the lightbox. So, you can create different 'galleries' using different <span class="element">rel</span> options.</li>
        </ol>
        </li>
        <li><span class="element">div</span> tag
        <ol>
            <li><span class="element">.tile</span> is used to create a tile</li>
            <li><span class="element">.large</span> is to define the size of the tile. You can also use <span class="element">.medium</span> or <span class="element">.small</span>.</li>
            <li><span class="element">.live</span> makes the tile a 'live' tile with animations. There <b>must</b> be 2 children <span class="element">div</span> within this div, in which they must be further defined with the classes <span class="element">.live-front</span> and <span class="element">.live-back</span> to define which div to appear in front of the other.</li>
            <li><span class="element">data-</span> attributes are used to set the animation options which I will cover later.</li>
        </ol>
        </li>
        <li><span class="element">span</span> tag
        <ol>
        	<li><span class="element">.tile-date</span> appears at the upper right corner of the tile, functions as date display</li>
            <li><span class="element">.tile-cat</span> appears at bottom left corner of the tile, functions as category display</li>
            <li><span class="element">.redtxt</span> changes the color of text in the containing element to the indicated color, in this case, red color. There are 10 default colors which can be used at anywhere in this template.</li>
            <li><span class="element">.red</span> sets the background color of the element. Similarly, this template has 10 default colours for your choice.</li>
        </ol>
        </li>
        </ol>
        
        <h4 class="small-title">Green Highlight</h4>
        <ol>
        <li><span class="element">.tile-pre</span> hides the content initially so that it will only be shown in lightbox when clicked on its corresponding tile.</li>
        <li><span class="element">article</span> tag
        <ol>
        <li><span class="element">#article-1</span> is the id of the article.</li>
        <li><span class="element">.lb-article</span> sets a fixed width to the lightbox.</li>
        </ol>
        <li><span class="element">a.no-text-dec</span> prevents underlining of hyperlinked text (at category) on hover.</li>
        <li><span class="element">.lb-title</span> is the title of the article.</li>
        <li><span class="element">.lb-excerpt</span> is the excerpt of the article.</li>
        </ol>
        
        <h4 class="small-title">How-to :</h4>
	  <ul>
		  <li><strong>Create a small blue tile</strong><br>
		  Use this code :<br>
          <pre>
      &lt;div class=&quot;<span class="element">tile small blue</span>&quot;&gt;
      &lt;/div&gt;
          </pre></li>
		  <li><strong>Create a tile with hyperlink</strong><br>
		  Use this code :<br>
          <pre>
      &lt;a href=&quot;<span class="code">//link//</span>&quot; title=&quot;<span class="code">//title//</span>&quot;&gt;
          &lt;div class=&quot;<span class="element">tile small</span>&quot;&gt;
          &lt;/div&gt;
      &lt;/a&gt;
          </pre>
          </li>
		  <li><strong>Create a small tile with sliding animation</strong><br>
		  Use this code :<br>
          <pre>
      &lt;div class=&quot;<span class="element">tile small live</span>&quot; data-stops=&quot;<span class="code">//positions to stop//</span>&quot; data-speed=&quot;<span class="code">//time in milliseconds//</span>&quot; 
       data-direction=&quot;horizontal&quot;&gt;
          &lt;div class=&quot;live-front&quot;&gt;&lt;/div&gt;
          &lt;div class=&quot;live-back&quot;&gt;&lt;/div&gt;
      &lt;/div&gt;
          </pre>
	      </li>
		  <li><strong>Use lightbox on a tile</strong><br>
		  Use this code :<br>
          <pre>
      &lt;a href=&quot;<span class="code">//id of lightbox element//</span>&quot; class=&quot;<span class="element">lightbox</span>&quot;&gt;
      &lt;div class=&quot;<span class="element">tile small</span>&quot;&gt;
      &lt;/div&gt;
      &lt;/a&gt;

&lt;&lt; the following piece of code can be put anywhere in the page, but I recommend putting it 
   together as in image above. &gt;&gt;

      &lt;div class=&quot;<span class="element">tile-pre</span>&quot;&gt;
          &lt;article id=&quot;<span class="code">//id of lightbox element//</span>&quot; class=&quot;<span class="element">lb-article</span>&quot;&gt;
          &lt;&lt; some content for this article &gt;&gt;
          &lt;/article&gt;
      &lt;/div&gt;
          </pre>
          </li>
		  <li><strong>Change the background color of a tile</strong><br>
		  Use this code :<br>
          <pre>
      &lt;div class=&quot;<span class="element">tile</span> <span class="code">//one of the 10 colors//</span>&quot;&gt;
      &lt;/div&gt;
          </pre>
          </li>
          <li><strong>Create a tile which does not have hovering effects (i.e. other tiles do not fade)</strong><br>
          Add <span class="element">.exclude</span> to the tile
<pre>
      &lt;div class=&quot;<span class="element">tile exclude</span>&quot;&gt;
      &lt;/div&gt;
          </pre>
	  </ul>
      <h4 class="small-title">data- Attribute for Live Tiles</h4>
      <p>Thanks to <a href="http://www.drewgreenwell.com">Drew Greenwell</a> for this wonderful script, all the possible settings and their explanation are listed down <a href="http://www.drewgreenwell.com/projects/metrojs#liveTileOptions">here</a>. However, I have also included the attributes which are most likely used by you in the table below :</p>
      
      <table width="790" border="1">
        <tr bgcolor="#CCCCCC">
          <th width="15%" scope="col">Data Attribute</th>
          <th width="13%" scope="col">Default Value</th>
          <th width="72%" scope="col">Description</th>
        </tr>
        <tr>
          <td>data-mode</td>
          <td>slide</td>
          <td>Mode of animation. Can be 'slide' or 'flip'.</td>
        </tr>
        <tr bgcolor="#eee">
          <td>data-stops</td>
          <td>100%</td>
          <td><p>How much should the front tile slide in slide mode before pausing.   			Setting one stop will make the tile slide between the stop value and 0.   			If more than one stop is set, the tile will loop through all stop values.</p>
          <p>Note: If <strong>more than one stop</strong> is used, you need to set the final stop to   0px if you want the tile to return to the default position.</p></td>
        </tr>
        <tr>
          <td>data-speed</td>
          <td>500</td>
          <td>How fast should the animations be performed (in milliseconds).</td>
        </tr>
        <tr bgcolor="#eee">
          <td>data-delay</td>
          <td>5000</td>
          <td>How long to wait between animations (in milliseconds).<br>
Setting the delay value to -1 will use a random delay value between 3500 and 8000 milliseconds (3.5 - 8 seconds).<br>
Setting the delay value to anything lower than -1 (e.g. -2) will call the triggerDelay method one time to get the delay value.</td>
        </tr>
        <tr>
          <td>data-initdelay</td>
          <td>-1</td>
          <td>How long to wait before starting (in milliseconds). If the value is -1 the delay property is used</td>
        </tr>
        <tr bgcolor="#eee">
          <td>data-repeat</td>
          <td>-1</td>
          <td>How many times should the animation be performed. If the value is -1 the animations will loop until stopped or paused</td>
        </tr>
        <tr>
          <td>data-stack</td>
          <td>false</td>
          <td>Should tiles in slide mode move synchronously as if stacked (e.g Me tile).</td>
        </tr>
        <tr bgcolor="#eee">
          <td>data-direction</td>
          <td>vertical</td>
          <td>The direction that tiles slide and flip. (vertical | horizontal)</td>
        </tr>
      </table>
      <h4 class="small-title">Highlights</h4>
        <img src="assets/images/mainhighlights.png" alt="Highlights" />
      <p>You will only need to edit the highlighted codes to suit your needs. Use <span class="element">.fixed-medium</span> to contain each item and also add <span class="element">.last</span> to the last div container (the third container) of each row.</p>
      
      <h3 id="contentsidebar" class="small-title">Editing Content with Sidebar</h3>
      <p>All the files with this layout have 2 main containers (excluding header and footer), which are, left content container (<span class="element">#bloglist-left</span>, <span class="element">#blogtile-left</span>, <span class="element">#portfoliolist-left</span> and<span class="element"> #portfoliotile-left</span>) and <span class="element">#sidebar</span>.
      <h4 class="small-title">Bloglist and Portfoliolist</h4>
      <p>Both are quite similar in terms of structure. The only difference is that bloglist contains article category and date, whereas portfoliolist contains category of the item in its class. Also, I have included category filter for portfolio of which I will discuss in detail later. Check out the images below first.</p>
      <p><img src="assets/images/bloglist.png" alt="Blog List" />
      <img src="assets/images/portfoliolist.png" alt="Portfolio List" /></p>
      <h4 class="small-title">How-to :</h4>
      <ul>
        <li><strong>Create a list tile</strong><br>
        <pre>
    &lt;div class=&quot;<span class="element">bloglist</span> /or/ <span class="element">portfoliolist</span>&quot;&gt;
        &lt;a href=&quot;<span class="code">//link//</span>&quot; title=&quot;<span class="code">//title//</span>&quot;&gt;
        &lt;div class=&quot;<span class="element">bl-posttitle</span> /or/ <span class="element">pl-projecttitle</span>&quot;&gt;&lt;span class=&quot;<span class="element">bl-title</span> /or/ <span class="element">pl-title</span>&quot;&gt;<span class="code">//title//</span>&lt;/span&gt;&lt;/div&gt;
        &lt;img class=&quot;<span class="element">bloglist-img</span> /or/ <span class="element">portfoliolist-img</span>&quot; src=&quot;<span class="code">//img src//</span>&quot; alt=&quot;<span class="code">//title//</span>&quot;&gt;
        &lt;/a&gt;
    &lt;/div&gt;
        </pre>
        </li>
        <li><strong>Add lightbox to a portfolio list tile</strong><br>
        Just like the case for tiles
        <pre>
      &lt;div class=&quot;<span class="element">portfoliolist</span>&quot;&gt;
          &lt;a href=&quot;<span class="code">//id of lightbox element//</span>&quot; class=&quot;<span class="element">lightbox</span>&quot;&gt;
          &lt;div class=&quot;<span class="element"></span><span class="element">pl-projecttitle</span>&quot;&gt;&lt;span class=&quot;<span class="element">pl-title</span>&quot;&gt;<span class="code">//title//</span>&lt;/span&gt;&lt;/div&gt;
          &lt;img class=&quot;<span class="element"></span><span class="element">portfoliolist-img</span>&quot; src=&quot;<span class="code">//img src//</span>&quot; alt=&quot;<span class="code">//title//</span>&quot;&gt;&lt;/div&gt;
          &lt;/a&gt;
      &lt;/div&gt;

&lt;&lt; the following piece of code can be put anywhere in the page, but I recommend putting it 
   together as in image above. &gt;&gt;

      &lt;div class=&quot;<span class="element">tile-pre</span>&quot;&gt;
          &lt;article id=&quot;<span class="code">//id of lightbox element//</span>&quot; class=&quot;<span class="element">lb-portfolio</span>&quot;&gt;
          &lt;&lt; some content for this article &gt;&gt;
          &lt;/article&gt;
      &lt;/div&gt;
        </pre>
        </li>
      </ul>
      <h4 class="small-title">Filter</h4>
      <p>To add more categories, just add more <span class="element">li</span> items and make sure the name here in the list and in the class of portfolio item are of same spelling. <b>Blank space</b> will be added with - automatically in the filtering system, so make sure you use dashed class name in item list. For example, using 'Graphic Design' in the list would require the portfolio item to have 'graphic-design' in its class.</p>
      
      <h4 class="small-title">Blogtile and Portfoliotile</h4>
      <p>Once again, they are very similar in structure. In fact, any settings for tiles can be used here, including live tiles and lightbox by using the method as discussed in 'Tile' section. In the sample images below, the tile in portfoliotile has lightbox enabled.</p>
      <img src="assets/images/blogtile.png" alt="Blog Tile" />
      <img src="assets/images/portfoliotile.png" alt="Portfolio Tile" />
      <p>As you can see, the size of the tiles are defined by applying either <span class="element">.large</span>, <span class="element">.medium</span> or <span class="element">.small</span> to <span class="element">div.tile</span>. The same classes and settings used at the main page can be applied here as well.</p>
      
      <h4 class="small-title">Single Post</h4>
      <p>As you have probably guessed it, single blog post and single portfolio item's page are almost the same, with minor differences at the top only. Both have the left content area wrapped in section#single tag, then the content itself and comments at the bottom. However, in a single blog post, the top image has to be 640px x 360px, whereas in portfolio, it can be of any size and I recommend putting the full size image of your portfolio item there. A picture tells a thousand words (eventhough it contains words only), so let's take a look at the samples below :
      <img src="assets/images/singleblogpost.png" alt="Single Blog Post" />
      <img src="assets/images/singleportfolio.png" alt="Single Portfolio Page" />
      <p>As the classes for each container are quite self-explanatory, let's focus on the elements which can be used within the content area :</p>
      <ol>
      <li><span class="element">p</span> tag<br>
      Used for each paragraph.
      </li>
      <li><span class="element">h1, h2, h3, h4, h5</span><br>
      Used to create headings of different font sizes.
      </li>
      <li><span class="element">div.quote</span><br>
      Used to create a quoted paragraph.
      </li>
      <li><span class="element">p.hl1, p.hl2, p.hl3</span><br>
      Different styles of highlighting a paragraph. Example is in features-content.html page.
      </li>
      <li><span class="element">div.infobox-red, div.infobox-blue, div.infobox-green, div.infobox-yellow</span><br>
      Different information boxes with different colours for different purposes. Examples are also in features-content.html page.
      </li>
      <li><span class="element">ul li</span><br>
      Create list items within the content area.
      </li>
      <li><span class="element">img.content-img</span><br>
      Create an image.
      </li>
      </ol>
      
      <p>Aside from these, you may also add buttons into the page. Buttons follow a structure like this (this is an example of a 'dark' button) :</p>
      <pre>
      &lt;a href=&quot;<span class="code">//link//</span>&quot;&gt;&lt;span class=&quot;<span class="element">button-met</span> <span class="element">dark</span>&quot;&gt;<span class="code">//button//</span>&lt;/span&gt;&lt;/a&gt;
      </pre>
      <p>You can style each button differently using pre-made classes (examples available at features-content.html page) : </p>
      <table width="790" border="1">
        <tr bgcolor="#CCCCCC">
          <th scope="col">Dark Theme</th>
          <th scope="col">Light Theme</th>
        </tr>
        <tr>
          <td>dark</td>
          <td>light</td>
        </tr>
        <tr bgcolor="#eee">
          <td>dark-blue</td>
          <td>light-blue</td>
        </tr>
        <tr>
          <td>dark-brown</td>
          <td>light-brown</td>
        </tr>
        <tr bgcolor="#eee">
          <td>dark-green</td>
          <td>light-green</td>
        </tr>
        <tr>
          <td>dark-lime</td>
          <td>light-lime</td>
        </tr>
        <tr bgcolor="#eee">
          <td>dark-magenta</td>
          <td>light-magenta</td>
        </tr>
        <tr>
          <td>dark-mango</td>
          <td>light-mango</td>
        </tr>
        <tr bgcolor="#eee">
          <td>dark-pink</td>
          <td>light-pink</td>
        </tr>
        <tr>
          <td>dark-purple</td>
          <td>light-purple</td>
        </tr>
        <tr bgcolor="#eee">
          <td>dark-red</td>
          <td>light-red</td>
        </tr>
        <tr>
          <td>dark-teal</td>
          <td>light-teal</td>
        </tr>
      </table>
      <p>You can also use a slider at the top image to display more than one image for your post. Instead of using the codes shown above, you only need to use the code below :</p>
      <pre>
       &lt;div class=&quot;<span class="element">article-img</span>&quot;&gt;<br>           &lt;div class=&quot;<span class="element">flexslider</span> <span class="element">postslide</span>&quot;&gt;<br>            &lt;ul class=&quot;<span class="element">slides</span>&quot;&gt;
<br>            &lt;li&gt;<br>            <span class="code">//img here//</span><br>            &lt;/li&gt;
<br>            &lt;li&gt;<br>            <span class="code">//img here//</span><br>            &lt;/li&gt;
<br>            &lt;/ul&gt;<br>           &lt;/div&gt;<br>       &lt;/div&gt;
	  </pre>
      <h3 id="pages" class="small-title">Editing Pages</h3>
      <p>All pages have only one container, which is, <span class="element">div#pg-content</span>. Within this container, you can create up to 4 columns by using relevant classes for each container. Below is the list of classes which can be used to create columns:
      <ul>
        <li><span class="element">.one-half</span></li>
        <li><span class="element">.one-third</span></li>
        <li><span class="element">.one-fourth</span></li>
        <li><span class="element">.two-thirds</span></li>
        <li><span class="element">.three-fourths</span></li>
        <li><span class="element">.last</span></li>
      </ul>
      <p>Note : The last column of each row must have <span class="element">.last</span>.
      
      <h4 class="small-title">How-to:</h4>
      <ol>
<li>Create 2 columns<br>
  <pre>
      &lt;div class=&quot;<span class="element">one-half</span>&quot;&gt;
      <span class="code">// content //</span>
      &lt;/div&gt;
      &lt;div class=&quot;<span class="element">one-half</span> <span class="element">last</span>&quot;&gt;
      <span class="code">// content //</span>
      &lt;/div&gt;
      </pre>
      </li>
      <li>Create 1/4 and 3/4 columns<br>
      <pre>
      &lt;div class=&quot;<span class="element">one-fourth</span>&quot;&gt;
      <span class="code">// content //</span>
      &lt;/div&gt;
      &lt;div class=&quot;<span class="element">three-fourths</span> <span class="element">last</span>&quot;&gt;
      <span class="code">// content //</span>
      &lt;/div&gt;
      </pre>
      </li>
      <li>Create title for content<br>
      <pre>
      &lt;div class=&quot;<span class="element">page-sub-title</span>&quot;&gt;<br>      &lt;h1&gt;<span class="code">//Title//</span>&lt;/h1&gt;<br>          &lt;div class=&quot;<span class="element">tagline</span>&quot;&gt;<span class="code">//Some text here, displayed beside title//</span>&lt;/div&gt;<br>      &lt;/div&gt;
      </pre>
      </li>
      </ol>
      <p>Besides columns, you can also create tabs, tables, toggles and accordions in the content area of pages.</p>
      <h4 class="small-title">Tabs</h4>
      <p>Below is the general structure of tabs</p>
      <pre>
      &lt;div id=&quot;<span class="element">//id of tabs//</span>&quot;class=&quot;<span class="element">orgTab</span>&quot;&gt;
          &lt;ul class=&quot;<span class="element">tab-nav</span>&quot;&gt;
              &lt;li&gt;&lt;a href=&quot;<span class="code">//id of tab1//</span>&quot; class=&quot;<span class="element">current</span>&quot;&gt;Tab 1&lt;/a&gt;&lt;/li&gt;
              &lt;li&gt;&lt;a href=&quot;<span class="code">//id of tab2//</span>&quot;&gt;Tab 2&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
          &lt;div class=&quot;<span class="element">list-wrap</span>&quot;&gt;
              &lt;div id=&quot;<span class="code">//tab1//</span>&quot;&gt;
              <span class="code">//content//</span>
              &lt;/div&gt;
              &lt;div id=&quot;<span class="code">//tab2//</span>&quot; class=&quot;<span class="element">hide</span>&quot;&gt;
              <span class="code">//content//</span>
              &lt;/div&gt;
          &lt;/div&gt;
      &lt;/div&gt;
      </pre>
      <p>Once you have written these in your HTML file, you must also add $(&quot;<span class="element">//id of tabs//</span>&quot;).organicTabs(); at javascript.js file. The <span class="element">.hide</span> class is used to hide all tabs other than the <strong>one</strong> visible when the page is loaded. For tabs containing <span class="element">p</span> tags, you need to use <span class="element" clas="element">.p-tab</span> at the div of the tab in order to have correct spacing. For tabs containing <span class="element">ul li</span> (list item), you need to add <span class="element">.list-item-tab</span> at the tab div for the same reason.</p>
      <p>If you wish to style it differently, you may add specific id and classes to each tab or tab content. The 'Articles' tab at the sidebar is an example of different styling for each tab in which you can refer to.</p>
      <h4 class="small-title">Tables</h4>
      <p>Below is the general structure of tables</p>
      <pre>
      &lt;div class=&quot;<span class="element">table-content</span>&quot;&gt;
          &lt;div class=&quot;<span class="element">table-title</span>&quot;&gt;<span class="code">//title//</span>&lt;/div&gt;
          &lt;div class=&quot;<span class="element">table-price</span>&quot;&gt;
              &lt;span class=&quot;<span class="element">price</span>&quot;&gt;&lt;span class=&quot;<span class="element">price-pre</span>&quot;&gt;<span class="code">//currency//</span>&lt;/span&gt;<span class="code">//amount//</span>
              &lt;span class=&quot;<span class="element">price-post</span>&quot;&gt;<span class="code">//duration//</span>&lt;/span&gt;
          &lt;/div&gt;

          &lt;div class=&quot;<span class="element">table-info</span>&quot;&gt;
          &lt;ul&gt;
              &lt;li&gt;<span class="code">//content//</span>&lt;/li&gt;
              &lt;li&gt;<span class="code">//content//</span>&lt;/li&gt;
          &lt;/ul&gt;
          &lt;/div&gt;
      &lt;/div&gt;
      </pre>
      <p>To make a 2-columned table, just put each table in each of the <span class="element">div.one-half</span> ; 3-columned table in each of <span class="element">div.one-third</span>.
      <h4 class="small-title">Toggles</h4>
      <p>All toggles have a structure like this :</p>
      <pre>
      &lt;div class=&quot;<span class="element">toggle-button</span>&quot;&gt;<span class="code">//toggle title//</span>&lt;span class=&quot;<span class="element">toggle-indicator</span>&quot;&gt;-&lt;/span&gt;&lt;/div&gt;
      &lt;div class=&quot;<span class="element">toggle-content</span>&quot;&gt;
      <span class="code">//content//</span>
      &lt;/div&gt;
      </pre>
      <p>If you wish to create a toggle which is <strong>closed when loaded</strong>, you need to add <span class="element">.close</span> to <span class="element">div.toggle-content</span> and change the - sign at <span class="element">span.toggle-indicator</span> to + sign, as shown below.</p>
      <pre>
      &lt;div class=&quot;<span class="element">toggle-button</span>&quot;&gt;<span class="code">//toggle title//</span>&lt;span class=&quot;<span class="element">toggle-indicator</span>&quot;&gt;+&lt;/span&gt;&lt;/div&gt;
      &lt;div class=&quot;<span class="element">toggle-content</span> <span class="element">close</span>&quot;&gt;
      <span class="code">//content//</span>
      &lt;/div&gt;
      </pre>

      <h4 class="small-title">Accordions</h4>
      <p>Accordions have almost the same structure as tabs, except that they have another containing div with class <span class="element">.accordion</span>. Similarly, the tabs which should be closed when loaded have the <span class="element">.close</span> class. Check out the structure of accordions :</p>
      <pre>
      &lt;div class=&quot;<span class="element">accordion</span>&quot;&gt;
    
          &lt;div class=&quot;<span class="element">ac-tab</span>&quot;&gt;<span class="code">//toggle title//</span>&lt;span class=&quot;<span class="element">toggle-indicator</span>&quot;&gt;-&lt;/span&gt;&lt;/div&gt;
          &lt;div class=&quot;<span class="element">toggle-content</span><span class="element"></span>&quot;&gt;
          <span class="code">//content//</span>
          &lt;/div&gt;

          &lt;div class=&quot;<span class="element">ac-tab</span>&quot;&gt;<span class="code">//toggle title//</span>&lt;span class=&quot;<span class="element">toggle-indicator</span>&quot;&gt;+&lt;/span&gt;&lt;/div&gt;
          &lt;div class=&quot;<span class="element">toggle-content</span> <span class="element">close</span>&quot;&gt;
          <span class="code">//content//</span>
          &lt;/div&gt;

      &lt;/div&gt;</pre>
      <p>If you still have any questions, feel free to voice it up in the item discussion or contact me. I will do my best to assist you</p>
<hr>

		<h3 id="cssFiles"><strong>B) CSS Files and Structure</strong> - <a href="#toc">top</a></h3>

		<p>I am using 3 CSS files for this theme. style.css is the core CSS file which defines the styles of the template, whereas style-ie8.css is used to fix some IE8 bugs. The third CSS file is named style-<span class="code">//color//</span>.css, where <span class="code">//color//</span> is the theme color. You can use any of the 10 pre-made colors or create your own one by changing all the color hex values in the color CSS file.</p>
        
        <p>To change the color loaded on a page, you just need to change the style-blue.css file to your desired CSS file, and the code is located at line 7 of all HTML files in this template.</p>

	  <p>The core CSS file is separated into sections using:</p>  

<pre>	
  /*-----------------------------------------------
  Header
  -----------------------------------------------*/

	some code

  /*------------ --Mobile Version----------------*/

  some code

  /*-----------------------------------------------
  Navigation
  -----------------------------------------------*/
	
	some code

  /*------------ --Mobile Version----------------*/

  some code
	
  /*-----------------------------------------------
  Content
  -----------------------------------------------*/
	
	some code

  /*------------ --Mobile Version----------------*/

  some code
	
  /*-----------------------------------------------
  Footer
  -----------------------------------------------*/
	
	some code

  /*------------ --Mobile Version----------------*/

  some code
	
	etc, etc. 
</pre>
		
<p>If you would like to edit a specific section of the site, simply find the appropriate label in the CSS file, and then scroll down until you find the appropriate style that needs to be edited.</p>
<hr>
		
<h3 id="javascript"><strong>C) JavaScript</strong> - <a href="#toc">top</a></h3>
		
		<p>This theme imports a few Javascript files :</p>
		
		<ol>
			<li>jquery.min.js - loaded from Google</li>
			<li>javascript.js - this sets the functions in the template</li>
			<li>Other plugin scripts</li>
		</ol>
		  
		<ol>
			<li>jQuery is a Javascript library that greatly reduces the amount of code that you must write.</li>
			<li>There is not much to be changed here, except those that I have already mentioned above. All functions are labelled. If you need further assistance, feel free to ask in the item discussion page or contact me.</li>
			<li>In addition to the custom scripts, I implement a few "tried and true" plugins to create the effects. Most of these files are packed, so you cannot edit them. All of them have been called in javascript.js, but if you want to know more about them, I have listed the links to their documentation below. Also, great thanks to these great individuals who made their scripts available for the public.</li>
		</ol>
      <table width="790" border="1">
          <tr bgcolor="#CCCCCC">
            <th scope="col">Javascript File</th>
            <th scope="col">Author</th>
            <th scope="col">Licence</th>
            <th scope="col">Link</th>
          </tr>
          <tr>
            <td>css3-mediaqueries</td>
            <td>Wouter van der Graaf</td>
            <td>MIT</td>
            <td><a href="http://code.google.com/p/css3-mediaqueries-js/">http://code.google.com/p/css3-mediaqueries-js/</a></td>
          </tr>
          <tr bgcolor="#eee">
            <td>hoverintent</td>
            <td>Brian Cherne</td>
            <td>MIT &amp; GPL</td>
            <td><a href="http://cherne.net/brian/resources/jquery.hoverIntent.html">http://cherne.net/brian/resources/jquery.hoverIntent.html</a></td>
          </tr>
          <tr>
            <td>jquery.easing.1.3</td>
            <td>George Smith</td>
            <td>BSD</td>
            <td><a href="http://gsgd.co.uk/sandbox/jquery/easing/">http://gsgd.co.uk/sandbox/jquery/easing/</a></td>
          </tr>
          <tr bgcolor="#eee">
            <td>jquery.fancybox-1.3.4</td>
            <td>Janis Skarnelis</td>
            <td>MIT &amp; GPL</td>
            <td><a href="http://fancybox.net/">http://fancybox.net/</a></td>
          </tr>
          <tr>
            <td>jquery.flexslider-min</td>
            <td>WooThemes</td>
            <td>GPL</td>
            <td><a href="http://www.woothemes.com/flexslider/">http://www.woothemes.com/flexslider/</a></td>
          </tr>
          <tr bgcolor="#eee">
            <td>jquery.masonry.min</td>
            <td>David DeSandro</td>
            <td>MIT</td>
            <td><a href="http://masonry.desandro.com/">http://masonry.desandro.com/</a></td>
          </tr>
          <tr>
            <td>MetroJs.lt</td>
            <td>Drew Greenwell</td>
            <td>MIT</td>
            <td><a href="http://drewgreenwell.com/projects/metrojs">http://drewgreenwell.com/projects/metrojs</a></td>
          </tr>
          <tr bgcolor="#eee">
            <td>organictabs.jquery</td>
            <td>Chris Coyier</td>
            <td>&nbsp;</td>
            <td><a href="http://css-tricks.com/organic-tabs/">http://css-tricks.com/organic-tabs/</a></td>
          </tr>
      </table>
      
      <p>To change the twitter widget account, navigate to line 107 in scripts/javascript.js. Change the username to your username and the number of tweets to be displayed to any number you want.</p>
<hr>
		
		<h3 id="credits"><strong>D) Sources and Credits</strong> - <a href="#toc">top</a></h3>
		
		<p>I've used the following images, icons or other files as listed.</p>
		
<table width="790" border="1">
		    <tr bgcolor="#CCCCCC">
		      <th scope="col">Javascript File</th>
		      <th scope="col">Author</th>
		      <th scope="col">Licence</th>
		      <th scope="col">Link</th>
	        </tr>
		    <tr>
		      <td>css3-mediaqueries</td>
		      <td>Wouter van der Graaf</td>
		      <td>MIT</td>
		      <td><a href="http://code.google.com/p/css3-mediaqueries-js/">http://code.google.com/p/css3-mediaqueries-js/</a></td>
	        </tr>
		    <tr bgcolor="#eee">
		      <td>hoverintent</td>
		      <td>Brian Cherne</td>
		      <td>MIT &amp; GPL</td>
		      <td><a href="http://cherne.net/brian/resources/jquery.hoverIntent.html">http://cherne.net/brian/resources/jquery.hoverIntent.html</a></td>
	        </tr>
		    <tr>
		      <td>jquery.easing.1.3</td>
		      <td>George Smith</td>
		      <td>BSD</td>
		      <td><a href="http://gsgd.co.uk/sandbox/jquery/easing/">http://gsgd.co.uk/sandbox/jquery/easing/</a></td>
	        </tr>
		    <tr bgcolor="#eee">
		      <td>jquery.fancybox-1.3.4</td>
		      <td>Janis Skarnelis</td>
		      <td>MIT &amp; GPL</td>
		      <td><a href="http://fancybox.net/">http://fancybox.net/</a></td>
	        </tr>
		    <tr>
		      <td>jquery.flexslider-min</td>
		      <td>WooThemes</td>
		      <td>GPL</td>
		      <td><a href="http://www.woothemes.com/flexslider/">http://www.woothemes.com/flexslider/</a></td>
	        </tr>
		    <tr bgcolor="#eee">
		      <td>jquery.masonry.min</td>
		      <td>David DeSandro</td>
		      <td>MIT</td>
		      <td><a href="http://masonry.desandro.com/">http://masonry.desandro.com/</a></td>
	        </tr>
		    <tr>
		      <td>MetroJs.lt</td>
		      <td>Drew Greenwell</td>
		      <td>MIT</td>
		      <td><a href="http://drewgreenwell.com/projects/metrojs">http://drewgreenwell.com/projects/metrojs</a></td>
	        </tr>
		    <tr bgcolor="#eee">
		      <td>organictabs.jquery</td>
		      <td>Chris Coyier</td>
		      <td>&nbsp;</td>
		      <td><a href="http://css-tricks.com/organic-tabs/">http://css-tricks.com/organic-tabs/</a></td>
	        </tr>
	      </table>
          
          <ul>
          <li>Preview theme tile images by <a href="http://www.behance.net/madsberg">Mads Berg</a></li>
          <li>Preview theme about page image by <a href="http://www.flickr.com/photos/uggboy/5344607573/">|| UggBoy♥UggGirl || PHOTO || WORLD || TRAVEL ||</a></li>
          <li>Preview theme about page images by <a href="http://www.flickr.com/photos/mac_filko/">mac_filko</a></li>
          <li>Preview theme contact page image by <a href="http://www.flickr.com/photos/revdancatt/535514134/">Rev Dan Catt</a></li>
          <li>Icons by <a href="http://dakirby309.deviantart.com/gallery/#/d4n4w3q">dakirby309</a></li>
          <li>Icons at <a href="http://metro.windowswiki.info/mi/">windowswiki.info</a></li>
          <li>Tutorials at <a href="http://net.tutsplus.com">net tuts+</a></li>
          <li>Tutorials at <a href="http://css-tricks.com">CSS Tricks</a></li>
          <li>Community at <a href="http://stackoverflow.com/">Stack Overflow</a></li>
          </ul>
          
		
	  <hr>
      
      <h3 id="limitations"><strong>E) Known Problems / Limitations</strong> - <a href="#toc">top</a></h3>
      <ol>
      <li>Transition effects do not work in IE8 / IE9 due to lack of support by the browsers. However, there is no significant effect on the users' browsing experience.</li>
      <li>Hovering effects have been disabled in IE8 due to compatibility reasons.</li>
      <li>Flipping tiles might flicker in Safari for Windows when they have .fade class (hovering effect). The solution is to make the width : 100% if it flips horizontally, or height : 100% if it flips vertially, but not both at 100%.</li>
      </ol>
      
      <hr>
		
		<p>Once again, thank you so much for purchasing this theme. As mentioned earlier, I would be glad to help you if you have any questions relating to this theme. No guarantees, but I'll do my best to assist. If you have a more general question relating to the themes on ThemeForest, you might consider visiting the forums and asking your question in the "Item Discussion" section.</p> 
		
		<p class="append-bottom alt large"><strong>Billy Foo</strong></p>
		<p><a href="#toc">Go To Table of Contents</a></p>
		
		<hr class="space">
	</div><!-- end div .container -->
</body>
</html>