<div>
    <script type="text/javascript"><!--
        google_ad_client = "ca-pub-6697184475670192";
        /* 31DaysOfWindows8 REAL */
        google_ad_slot = "2856547103";
        google_ad_width = 125;
        google_ad_height = 125;
        //-->
    </script>
    <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
</div>