<footer class="clearfix">

    <div id="footer-social">
        <a href="#"><span class="twitter-mini"></span></a>
        <a href="#"><span class="facebook-mini"></span></a>
        <a href="#"><span class="linkedin-mini"></span></a>
        <a href="#"><span class="pinterest-mini"></span></a>
    </div>
    
    <!--
    <nav>
        <ul id="nav">
            <li><a href="index.html" title="Home"><span>Home</span></a></li>
            <li><a href="aboutus.html" title="About"><span>About</span></a></li>
            <li><a href="contact.html" title="Contact"><span>Contact</span></a></li>
        </ul>
    </nav>
    -->
    <small>Copyright &#169; 31 Days of Windows 8</small>
</footer>