
<footer class="appbar">
      <nav>
          <ul id="menu" class="appbar-buttons">
              <li>
                  <a href="/" class="home"><img src="/images/1pixel.gif" alt="home" /></a>
                  <span class="charm-title">home</span>
              </li>
              <li>
                  <a href="/days" class="calendar"><img src="/images/1pixel.gif" alt="calendar" /></a>
                  <span class="charm-title">days</span>
              </li>
              <!--<li>
                  <a href="/about" class="about"><img src="/images/1pixel.gif" alt="about" /></a>
                  <span class="charm-title">about</span>
              </li>-->
              <li>
                  <a href="https://twitter.com/i/#!/search/31daysofwindows8" target="_blank" class="twitter">
                      <img src="/images/1pixel.gif" alt="twitter" />
                  </a>
                  <span class="charm-title">twitter</span>
              </li>
          </ul>
      </nav>
      <a class="etc">&bull;&bull;&bull;</a>
    
  </footer>