<footer class="clearfix">

    <div id="footer-social">
        <a href="#"><span class="behance-mini"></span></a>
        <a href="#"><span class="twitter-mini"></span></a>
        <a href="#"><span class="facebook-mini"></span></a>
        <a href="#"><span class="linkedin-mini"></span></a>
        <a href="#"><span class="pinterest-mini"></span></a>
        <a href="#"><span class="dribbble-mini"></span></a>
    </div><!-- end #footer-social -->
    
    <small>Copyright &#169; 31 Days of Windows 8</small>
</footer>