<header class="clearfix">
    <!-- BEGIN LOGO -->
    <a id="headerlink" href="#" title="home"><img id="logo" src="images/logo.png" alt="logo"/><span id="sitename">Matrix</span></a>
    <!-- END LOGO -->

    <!-- BEGIN NAVIGATION -->
    <nav>
    <ul id="nav" class="clearfix">
    <!-- Menu Item 1 -->
	    <li class="current"><a href="index.html" title="Home"><span>Home</span></a></li>
    <!-- Menu Item 2 -->
        <li>
    	    <a href="#" title="Portfolio"><span>Portfolio</span></a>
            <ul>
        	    <li><a href="portfoliotile-large.html" title="Portfolio"><span>Tile - Large</span></a></li>
                <li><a href="portfoliotile-medium.html" title="Portfolio"><span>Tile - Medium</span></a></li>
                <li><a href="portfoliotile-small.html" title="Portfolio"><span>Tile - Small</span></a></li>
                <li><a href="portfoliolist.html" title="Portfolio"><span>Portfolio List</span></a></li>
                <li><a href="singleportfolio.html" title="Portfolio"><span>Single Item</span></a></li>
            </ul>
        </li>
    <!-- Menu Item 3 -->
        <li><a href="#" title="Blog"><span>Blog</span></a>
    	    <ul>
        	    <li><a href="blogtile-large.html" title="Blog"><span>Tile - Large</span></a></li>
                <li><a href="blogtile-medium.html" title="Blog"><span>Tile - Medium</span></a></li>
        	    <li><a href="bloglist.html" title="Blog List"><span>Blog List</span></a></li>
        	    <li><a href="singleblogpost-1.html" title="Article 1"><span>Single Post</span></a></li>
            </ul>
        </li>
    <!-- Menu Item 4 -->
        <li>
    	    <a href="#" title="Features"><span>Features</span></a>
            <ul>
        	    <li><a href="features-main.html" title="Features"><span>Main Features</span></a></li>
                <li><a href="features-columns.html" title="Features"><span>Columns</span></a></li>
                <li><a href="features-content.html" title="Features"><span>Content Area</span></a></li>
            </ul>
        </li>
    <!-- Menu Item 5 -->
        <li><a href="aboutus.html" title="About"><span>About</span></a></li>
    <!-- Menu Item 6 -->
        <li><a href="contact.html" title="Contact"><span>Contact</span></a></li>
    </ul>
    </nav>
    <!-- END NAVIGATION -->
</header>