<header class="md-header md-header-main">
    <h1><a href="/">31 Days of Windows 8</a></h1>
</header>

<div id="loginInfo">
    
    <a href="#clark" class="lightbox" rel="section">
        <img src="https://api.twitter.com/1/users/profile_image?screen_name=csell5"/>
    </a>
    <div class="tile-pre">
        <article id="clark" class="lb-article">
            <div class="article-img">
                <img class="tile-pre-img" src="/images/clarkHeadShot.jpg" alt="Clark Sell" width="425"/>
            </div>
            <h1 class="lb-title">Web Developer | Microsoft</h1>
            <span class="postcat limetxt month">Clark Sell</span>
            <div class="lb-excerpt">
                <p>Clark is a web evangelist for Microsoft based in Illinois. A Chicago native who can’t spell, Clark as a kid actually made his money building cars, getting grease under his nails. That art of building would later lead him to software development where he drinks the Web Development Kool-Aid. Writing code is what keeps Clark awake at night, while continually working on his craft and rapping with others over a few cold CORS. You can hear Clark muse about software on his podcast Developer Smackdown, or find his family cruising around in a 1968 Camaro SS.</p>
                <br/>
                <p><a class="exp-button" href="http://csell.net/" target="_blank">Read More &#8594;</a></p>
            </div>
        </article>
    </div>
    
    <a href="#jeff" class="lightbox" rel="section">
        <img src="https://api.twitter.com/1/users/profile_image?screen_name=jeffblankenburg"/>
    </a>
    <div class="tile-pre">
        <article id="jeff" class="lb-article">
            <div class="article-img">
                <img class="tile-pre-img" src="/images/JeffBlankenburg.png" alt="Jeff Blankenburg" width="425"/>
            </div>
            <h1 class="lb-title">Mobile Developer | Microsoft</h1>
            <span class="postcat limetxt month">Jeff Blankenburg</span>
            <div class="lb-excerpt">
                <p>Ultra passionate. That’s how Jeff Blankenburg describes his relationship with technology. Over the past 10 years, Jeff has enthusiastically applied his technical expertise to build industry-changing websites and marketing efforts for mega brands including Victoria’s Secret, Abercrombie & Fitch, Ford Motor Company, Sony, and several pharmaceutical companies. He’s especially proficient in user interface design, web standards and mobile application development. In addition to his developer evangelist role for Microsoft, Jeff is the co-author of Migrating to Windows Phone, and is currently writing Programming Windows Phone 8. He also serves as an organizer for the CodeMash and Stir Trek conferences. On the academic front, Jeff holds a Bachelor of Science degree in Psychology from Ohio’s Bowling Green State University.</p>
                <br/>
                <p><a class="exp-button" href="http://jeffblankenburg.com" target="_blank">Read More &#8594;</a></p>
            </div>
        </article>
    </div>
    
</div>