<nav class="md-nav md-nav-horizontal md-nav-main">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/days">Days</a></li>
        <li><a href="https://twitter.com/i/#!/search/31daysofwindows8">Twitter</a></li>
    </ul>
</nav>