
<script type="text/html" id="tileGroup-Template">
    <section data-bind="if: $root.canPublish($data)">
        <h2>
            <a data-bind="attr: { name: day }">
                <div data-bind="if: day == 0">
                    <span data-bind="text: title"></span>
                </div>            
                
                <div data-bind="if: day > 0">
                    Day <span data-bind="text: day"></span> -
                    <span data-bind="text: title"></span>
                </div>
            </a>
        </h2>
        <div class="tilesCollection" data-bind="template: {name: $root.selectTemplate, foreach: tiles }">
        </div>
    </section>
</script>

<script type="text/html" id="largeTile-Template">
    <div class="tile large exclude"
        data-stops="0, 25%, 50%, 75%, 100%" 
        data-speed="3000" 
        data-delay="0" 
        data-direction="horizontal" 
        data-stack="true"
        data-bind="css: { live: live === 'true' }">
        
        <div class="live-front">
            <img class="live-img" 
                data-bind="attr: {src: image, alt: title}" />
        </div>
        <div class="live-back">
            <img class="live-img" 
                data-bind="attr: { src: image, alt: title }" />
        </div>
    </div>
</script>

<script type="text/html" id="mediumTile-Template">
     <a data-bind="attr: {href: webSite}" target="_blank">
        <div class="tile medium" 
                data-stops="0,75%,100%" data-speed="1000" 
                data-bind="css: { live: live === 'true' }, attr: { 'data-delay': delay }">
            <div class="live-front">
                <img class="live-img" data-bind="attr: {src: tileImage }" />
            </div>
            <div class="live-back"
                data-bind="css: { hidden: live === 'false' }">
                <span class="tile-text" data-bind="text: webSite"></span>
            </div>
        
            <span class="tile-date whitetxt">
                <span class="date" data-bind="text: title"></span>
                <span class="month" data-bind="text: subtitle"></span>
            </span>
        
        </div>
    </a>
</script>

<script type="text/html" id="smallTile-Template">
    <a data-bind="attr: {href: webSite}" target="_blank">
        <div class="tile small" 
            data-bind="css: { live: live === 'true' }, attr: { 'data-delay': delay }"
            data-stops="0,35%,100%" data-speed="1500">

            <div class="live-front blue">
                <img class="live-img" data-bind="attr: {src: tileImage, alt: title}" />            
            </div>
    
            <div class="live-back green" 
                    data-bind="css: { hidden: live === 'false' }">
                <span class="tile-text" data-bind="text: title"></span>
            </div>
        </div>
    </a>
</script>

<div class="md-content">
    <div id="collections" class="md-container">
	    <div class="md-viewport md-viewport-horizontal">
		    <div class="md-scrollable" data-bind="template: {name: 'tileGroup-Template', foreach: days}">
                               
            </div>
        </div>
    </div>
</div>