.searchResults header[role=banner] .titlearea {
    -ms-grid-column: 2;
    -ms-grid-columns: auto 20px 1fr 20px;
    display: -ms-grid;
}

    .searchResults header[role=banner] .titlearea .pagetitle {
        width: auto;
    }

    .searchResults header[role=banner] .titlearea .pagesubtitle {
        -ms-grid-column: 3;
        margin-top: 32px;
    }

.searchResults section[role=main] {
    /* Define a grid with rows for the filters and results */
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 180px 1fr;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    display: -ms-grid;
}

    .searchResults section[role=main] .resultsmessage {
        margin-left: 120px;
        margin-top: 193px;
    }

    .searchResults section[role=main] .filterarea {
        -ms-font-feature-settings: "case" 1;
        -ms-grid-row: 1;
    }

        .searchResults section[role=main] .filterarea .filterbar {
            height: auto;
            list-style-type: none;
            margin-left: 80px;
            margin-top: 133px;
            max-width: calc(100% - 120px);
        }

            .searchResults section[role=main] .filterarea .filterbar li {
                display: inline;
                margin-right: 40px;
                margin-top: 5px;
                opacity: 0.6;
            }

                .searchResults section[role=main] .filterarea .filterbar li.highlight, .searchResults section[role=main] .filterarea .filterbar li:hover {
                    opacity: 1.00;
                }

        /* Hide the <select> filter list. It will be shown in snapped mode only. */
        .searchResults section[role=main] .filterarea .filterselect {
            display: none;
        }

    .searchResults section[role=main] .resultslist {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        height: 100%;
        position: relative;
        width: 100%;
        z-index: 0;
    }

        .searchResults section[role=main] .resultslist .win-horizontal.win-viewport .win-surface {
            margin-bottom: 60px;
            margin-left: 90px;
            margin-right: 90px;
            margin-top: 198px;
        }

        .searchResults section[role=main] .resultslist .win-container {
            margin-bottom: 10px;
            margin-left: 23px;
            margin-right: 23px;
        }

        .searchResults section[role=main] .resultslist .item {
            /* Define a grid with columns for an icon, spacing and item details */
            -ms-grid-columns: 40px 1fr;
            -ms-grid-rows: 1fr;
            display: -ms-grid;
            height: 64px;
            padding-left: 7px;
            padding-right: 7px;
            padding-top: 1px;
            width: 280px;
        }

            .searchResults section[role=main] .resultslist .item .item-image {
                -ms-grid-column: 1;
                -ms-grid-row: 1;
                height: 40px;
                margin-top: 6px;
                width: 40px;
            }

            .searchResults section[role=main] .resultslist .item .item-content {
                -ms-grid-column: 2;
                -ms-grid-row: 1;
                margin-left: 10px;
            }

                .searchResults section[role=main] .resultslist .item .item-content .item-subtitle, .searchResults section[role=main] .resultslist .item .item-content .item-description {
                    opacity: 0.6;
                }

                /* Define a style for both selected filters and text matching the query. */
                .searchResults section[role=main] .resultslist .item .item-content mark {
                    background: transparent;
                    color: rgba(90, 183, 227, 1);
                }

@media screen and (-ms-view-state: snapped) {
    .searchResults header[role=banner] .titlearea {
        -ms-grid-columns: 1fr 20px;
    }

        .searchResults header[role=banner] .titlearea .pagetitle {
            margin-top: 0;
        }

    .searchResults section[role=main] {
        /* Rows for the filters and the results */
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 30px 1fr;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        display: -ms-grid;
    }

        .searchResults section[role=main] .resultsmessage {
            margin-left: 20px;
            margin-top: 36px;
        }

        /* Hide the horizontal list of filters in snapped mode. */
        .searchResults section[role=main] .filterarea .filterbar {
            display: none;
        }

        /* Show a <select> list of filters in snapped mode */
        .searchResults section[role=main] .filterarea .filterselect {
            display: inline;
            margin-left: 20px;
            margin-top: 2px;
            max-width: calc(100% - 38px);
        }

        .searchResults section[role=main] .resultslist {
            height: calc(100% - 30px);
            -ms-grid-row: 2;
            -ms-grid-row-span: 1;
            margin-top: 30px;
        }

            .searchResults section[role=main] .resultslist .win-vertical.win-viewport .win-surface {
                margin-bottom: 60px;
                margin-top: 18px;
            }

            .searchResults section[role=main] .resultslist .win-container {
                margin-left: 13px;
                margin-right: 22px;
            }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .searchResults section[role=main] .resultslist .win-horizontal.win-viewport .win-surface {
        margin-left: 70px;
    }
}
