<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="00b29588-8278-41b3-b3ec-591503e50ff9" Publisher="CN=Jeff" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Day19-FilePicker</DisplayName>
    <PublisherDisplayName>Jeff</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Day19_FilePicker.App">
      <VisualElements DisplayName="Day19-FilePicker" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Day19-FilePicker" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.fileOpenPicker">
          <FileOpenPicker>
            <SupportedFileTypes>
              <SupportsAnyFileType />
            </SupportedFileTypes>
          </FileOpenPicker>
        </Extension>
        <Extension Category="windows.fileSavePicker">
          <FileSavePicker>
            <SupportedFileTypes>
              <SupportsAnyFileType />
            </SupportedFileTypes>
          </FileSavePicker>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>