
<footer class="appbar">
       <nav>
          <ul id="menu" class="appbar-buttons">
              <li>
                  <a href="#" class="home"><img src="/images/1pixel.gif" alt="home" /></a>
                  <span class="charm-title">Home</span>
              </li>
              <li>
                  <a href="#" class="about"><img src="/images/1pixel.gif" alt="about" /></a>
                  <span class="charm-title">About</span>
              </li>
              <li>
                  <a href="#" target="_blank" class="twitter"><img src="/images/1pixel.gif" alt="twitter" /></a>
                  <span class="charm-title">Twitter</span>
              </li>
          </ul>
      </nav>
      <a class="etc">&bull;&bull;&bull;</a>
      
  </footer>