<div class="toggle-button"><span class="toggle-indicator">+</span></div>
    
<div class="toggle-content close">
    <div class="flexslider mainslide">
    <ul class="slides">
        <li>
        <img src="/images/slideimg1.png" alt="Responsive" />
        <p class="flex-title">Responsive</p>
        </li>
        <li>
        <img src="/images/slideimg2.png" alt="Tile Design" />
        <p class="flex-title">Tile Design</p>
        </li>
        <li>
        <img src="/images/slideimg3.png" alt="Customizability" />
        <p class="flex-title">Customizability</p>
        </li>
    </ul>
    </div><!-- end .flexslider -->
    
    <div class="quote-bg1"><div class="quote-w">Hello! This is a Metro UI-inspired template which brings a new web-browsing experience to the users. To further improve it, feedbacks are greatly welcomed!</div></div>
    
</div>