.blue{
	background-color:#19A2DE !important;
}
.bluetxt{
	color:#19A2DE !important;
}
.red{
	background-color:#E61400 !important;
}
.redtxt{
	color:#E61400 !important;
}
.green{
	background-color:#319A31 !important;
}
.greentxt{
	color:#319A31 !important;
}
.magenta{
	background-color:#FF0094 !important;
}
.magentatxt{
	color:#FF0094 !important;
}
.purple{
	background-color:#A500FF !important;
}
.purpletxt{
	color:#A500FF !important;
}
.teal{
	background-color:#00AAAD !important;
}
.tealtxt{
	color:#00AAAD !important;
}
.lime{
	background-color:#8CBE29 !important;
}
.limetxt{
	color:#8CBE29 !important;
}
.brown{
	background-color:#9C5100 !important;
}
.browntxt{
	color:#9C5100 !important;
}
.pink{
	background-color:#E671B5 !important;
}
.pinktxt{
	color:#E671B5 !important;
}
.mango{
	background-color:#EF9608 !important;
}
.mangotxt{
	color:#EF9608 !important;
}
.black{
	background-color:#000 !important;
}
.blacktxt{
	color:#000 !important;
}
.white{
	background-color:#fff !important;
}
.whitetxt{
	color:#fff !important;
}