html, body { 
    height: 100%; 
    width: 100%;
}

body { 
    background: black; 
    font: 62.5%/1.5 "Segoe UI Light", Segoe UI, Tahoma Light, Arial Light, Helvetica, sans-serif; 
    overflow-y: hidden; 
    color: white; 
    position: relative; 
}

a { 
    color: white; 
    cursor: pointer; 
    /*text-decoration: none;*/
}
    a:active { 
        color: #f16529; 
    }
    
    a:hover { 
        color: #f16529;
        text-decoration-line: underline;
        text-decoration-color: #f16529;
        
    }

.md-header-main { position: absolute; top: 33pt; left: 90pt; height: 48pt; }
    .md-header-main h1 { font-size: 42pt; margin-left: -3pt; line-height: 48pt; vertical-align: baseline; }

.md-nav { position: relative; }
    .md-nav ul { list-style: none; }
        .md-nav ul li { float: left; margin-right: 1em; font-size: 20pt; }
            .md-nav ul li:last-child { clear: right; }
            .md-nav ul li a { text-decoration: none; }

.md-nav-main { position: absolute; top: 85pt; left: 90pt; }

.md-content { position: absolute; top: 140pt; left: 0; right: 0; bottom: 0; overflow: hidden; }

.md-content h2 { font-size: 20pt; line-height: 24pt; vertical-align: baseline; height: 30pt; }

.md-content p { margin-bottom: 1em; text-align: justify; }

.md-viewport { width: 100%; height: 100%; overflow: hidden; }
.md-viewport-horizontal { overflow-x: auto; overflow-y: hidden; }
    .md-viewport-horizontal .md-scrollable { width: 1000%; }
.md-viewport-vertical { overflow-x: hidden; overflow-y: auto; }
    .md-viewport-vertical .md-scrollable { height: 1000%; }

.md-content section { float: left; margin: 0 20pt; overflow: hidden; }
    .md-content section:first-child { margin-left: 90pt; }
    .md-content section:last-child { margin-right: 0pt; clear: right; }

.md-content .md-auto-resize { width: 100000%; }
.md-content article { margin: 0 30pt; float: left; position: relative; }
    .md-content article:first-child { margin-left: 0; }
    .md-content article:last-child { margin-right: 0; clear: right; }

.md-content .md-column { float: left; width: 360pt; margin: 0 15pt; }
    .md-content .md-column:first-child { margin-left: 0; }
    .md-content .md-column:last-child { margin-right: 0; }

.md-content ul { list-style-type: square; list-style-position: outside; padding-left: 20pt; }
.md-content ol { list-style-type: decimal; list-style-position: outside; padding-left: 20pt; }

table { border: 1px solid black; padding: 2pt; }
    table tr:nth-child(2n) { background: #e0e0e0; }
    table td { border: 1px solid black; padding: 1pt; }
    table th { background: black; color: white; }

form input[type="text"], form input[type="password"], form textarea { border: 1px solid black; padding: 2pt; font-size: 12pt; }
form select { border: 1px solid black; }
    form select option { padding: 2pt; }
        form select option[selected] { background: black; color: white; }
form button { border: 1pt solid black; background: #404040; color: white; padding: 4pt 12pt; }
    form button:active { border: 1pt solid black; background: white; color: black; padding: 4pt 12pt; }

.md-list-tiles { }
    .md-list-tiles .md-list-item { float: left; background: #f5f5f5; }
    .md-list-tiles .md-list-item:last-child { clear: right; }
    .md-list-tiles .md-list-tile-large { width: 190pt; height: 190pt; margin-right: 6pt; margin-bottom: 6pt; }
    .md-list-tiles .md-list-item-image { width: 100%; height: 120pt; background: #e0e0e0; }
    .md-list-tiles .md-list-item-overlay { padding: 5pt 10pt; }
    .md-list-tiles .md-list-item-big-text { font-size: 12pt; line-height: 16pt; }
    .md-list-tiles .md-list-item-small-text { font-size: 10pt; line-height: 14pt; color: #505050; }

.hidden { display: none; }
