
.tilesCollection {
    width: 960px;
    padding-top: 10pt;
}

#loginInfo {
    display: block;
    float: right;
    margin-top: 60px;
    margin-right: 50px;
    
}

#loginInfo a {
    text-decoration: none;
    font-size: 24pt; 
    line-height: 1.5pt; 
    vertical-align: baseline;
}

#loginInfo img:first-child {
    padding-right: 20px;
}

a {
    text-decoration: none;
}