
/*----------------------------------------------------------------------------
Content - Main Page Tiles
----------------------------------------------------------------------------*/
.live>div{
	position:absolute;
}
.live img{
	border:none;	
}
.live-front{
	width:100%;
	height:100%;
	z-index:20;
}
.live-back{
	width:100%;
	height:100%;
	z-index:10;
}
.live-img{
	display:block;
	height:100%;
	width:100%;
}
.tile{
	margin:0 5px 10px 5px;
	float:left;
	overflow:hidden;
	position:relative;
	transition: opacity 0.5s ease 0.1s;
	-moz-transition: opacity 0.5s ease 0.1s;
	-o-transition: opacity 0.5s ease 0.1s;
	-webkit-transition: opacity 0.5s ease 0.1s;
}
.tilehover{
	position:absolute;
	top:0;
	right:0;
	z-index:30;
	display:none;
}
.tile:hover{
	border:5px solid #fff;
	margin:-5px 0 0 0;
	box-shadow:0 0 5px 0 #000;
	-moz-box-shadow:0 0 5px 0 #000;
	-webkit-box-shadow:0 0 5px 0 #000;
}
.exclude:hover{
	border:none;
	margin:0 5px 10px 5px;
}
a .tile:hover .tilehover{
	display:inline;
}
.tile-text{
	color:#fff;
	font-size:2.4em;
	bottom:5px;
	left:10px;
	position:absolute;
	z-index:30;
	text-align:left;
}
.large{
	width:310px;
	height:310px;
}
.medium{
	width:310px;
	height:150px;
}
.small{
	width:150px;
	height:150px;
}
.fade{
	opacity:0.5;
	filter:alpha(opacity=50);
}
.tile-date{
	background:none;
	color:#7f7f7f;
	position:absolute;
	top:0;
	right:20px;
	z-index:99;
}
.tile-date .date{
	font-size:6em;
}

.tile-date .month{
	font-size:2em;
	position:absolute;
	top:75px;
	right:5px;
}

.tile-date .subTitle {
    font-size:2em;
	position:absolute;
	top:100px;
	right:5px;
    width: 260px;
    
    text-align: center;
}

.tile-cat{
	position:absolute;
	bottom:0;
	left:0;
	font-size:2.4em;
	color:#fff;
	z-index:99;
	text-align:left;
	padding:0 10px;
	visibility:hidden;
}
.tile:hover .tile-cat{
	visibility:visible;
}