@{
    Layout = "/shared/_layout.cshtml";
    PageData["title"] = "Days";
}

<div class="md-content">
    <div id="collections" class="md-container">
        <div class="md-viewport md-viewport-vertical"> 
            <div class="md-scrollable">  
                <div class="staticContent" >
                    <article>
                        <h1>Days</h1>
                        
                        <p>Day #1 - The Blank App Template (<a href="http://csell.net/2012/11/01/31-days-of-windows-8-day-1-the-blank-app">HTML5/JS</a>) (<a href="http://www.jeffblankenburg.com/2012/11/01/31-days-of-windows-8-day-1-the-blank-app">XAML/C#</a>)</p>

			<p>Day #2 - Snapping and Orientation (<a href="http://csell.net/2012/11/02/31-days-of-windows-8-day-2-orientation-snap">HTML5/JS</a>) (<a href="http://www.jeffblankenburg.com/2012/11/02/31-days-of-windows-8-day-2-orientation-snap">XAML/C#</a>)</p>                    

                    </article>
                </section>       
            </div>
        </div>
    </div>
</div>

@section bottomPageScripts {

    <script type="text/javascript">
        
        $(document).ready(function () {
            MD.Initialize(); 
        });

    </script>
}