@{
    Layout = "/shared/_layout.cshtml";
    PageData["title"] = "Days";
}

<script type="text/html" id="day-tiles-template">
    <!--
    <div data-bind="if: title.toLowerCase() == 'clark'">
        <a data-bind="attr: {href: webSite}" target="_blank">
            <img src="images/articleHTML.png" width="100" height="100" border="0">
        </a>
    </div>&nbsp;&nbsp;

    <div data-bind="if: title.toLowerCase() == 'Download the HTML5 source code'">
        <a data-bind="attr: {href: webSite}" target="_blank">
            <img src="images/githubhtml.png" width="100" height="100" border="0">
        </a>&nbsp;&nbsp;
    </div>
    
    <a data-bind="attr: {href: webSite}, if: title == 'Jeff'">
        <img src="images/articleXAML.png" width="100" height="100" border="0">
    </a>&nbsp;&nbsp;

    <a data-bind="attr: { href: webSite }" >
        <img src="images/githubXAML.png" width="100" height="100" border="0">
    </a>&nbsp;&nbsp;
    -->
</script>

<script type="text/html" id="days-template">
    <p data-bind="if: $root.canPublish($data)">
        <a data-bind="attr: { href: '/?day=' + day }">
            <img data-bind="attr: { src: '/images/days/' + day + '/logo.png'}" class="daysImage"/>
            Day <span data-bind="text: day"></span> - <span data-bind="text: title"></span>
        </a>
    </p>
    
</script>

<div class="md-content">
    <div id="collections" class="md-container">
        <div class="md-viewport md-viewport-vertical"> 
            <div class="md-scrollable">  
                <div class="staticContent" >
                    <h1>Days</h1>
                    <article class="md-scrollable" data-bind="template: {name: 'days-template', foreach: days}">
                    </article>
                </section>       
            </div>
        </div>
    </div>
</div>

@section bottomPageScripts {

    <script type="text/javascript">

        $(document).ready(function ()
        {
            $.getJSON("/api/days", function (data)
            {
                viewModel.days(data.days);
                ko.applyBindings(viewModel);

                MD.Initialize();
            });
        });

    </script>
}