@{
    Layout = "~/shared/_layout.cshtml";
    PageData["title"] = "Home";

    
    var dayRequested = Request.QueryString["day"];
    if ( null != dayRequested ) {
        PageData["day"] = dayRequested;
    }
}



<div class="md-body">        
    @RenderPage("/shared/_tiles.cshtml")
</div>

@section bottomPageScripts {

    <script type="text/javascript">
        
        $(document).ready(function () {
            
            $.getJSON("/api/days", function (data) {
                viewModel.days(data.days);
                ko.applyBindings(viewModel);
                MD.Initialize(); 

                $('.tilesCollection').masonry({
                    itemSelector : '.tile',
                    columnWidth : 160,
                    isAnimated: true,
                    isFitWidth: true
                });

                $(".live").liveTile({
                    pauseOnHover: true,
                    useHardwareAccel: true
                });
            })
        });
    </script>    
}