@{
    Layout = "/shared/_layout.cshtml";
    PageData["title"] = "More Resources";
}

<div class="md-content">
    <div id="collections" class="md-container">
        <div class="md-viewport md-viewport-vertical"> 
            <div class="md-scrollable">  
                <div class="staticContent" >
                    <article>
                        <h1>More Resources</h1>

                        <p>It's coming. In the mean time enjoy the bacon.</p>

                        <p>Bacon ipsum dolor sit amet pancetta jerky pastrami, ground round kielbasa corned beef ball tip prosciutto cow beef ham. Cow fatback sausage, tenderloin pancetta pork chop short ribs pork belly rump spare ribs. Drumstick doner pork meatball strip steak pancetta turkey pork belly pig shoulder meatloaf tri-tip beef ribs. Turducken biltong boudin chuck spare ribs venison. Flank andouille capicola pig shoulder ribeye tenderloin cow pork loin fatback venison sausage. Ham pork loin bacon, pastrami capicola frankfurter spare ribs pork chop venison biltong ribeye ball tip. Pork loin flank ham jerky turkey biltong chicken tail strip steak short loin tri-tip meatball salami.</p>
                        <p>Bacon ipsum dolor sit amet pancetta jerky pastrami, ground round kielbasa corned beef ball tip prosciutto cow beef ham. Cow fatback sausage, tenderloin pancetta pork chop short ribs pork belly rump spare ribs. Drumstick doner pork meatball strip steak pancetta turkey pork belly pig shoulder meatloaf tri-tip beef ribs. Turducken biltong boudin chuck spare ribs venison. Flank andouille capicola pig shoulder ribeye tenderloin cow pork loin fatback venison sausage. Ham pork loin bacon, pastrami capicola frankfurter spare ribs pork chop venison biltong ribeye ball tip. Pork loin flank ham jerky turkey biltong chicken tail strip steak short loin tri-tip meatball salami.</p>
                        <p>Bacon ipsum dolor sit amet pancetta jerky pastrami, ground round kielbasa corned beef ball tip prosciutto cow beef ham. Cow fatback sausage, tenderloin pancetta pork chop short ribs pork belly rump spare ribs. Drumstick doner pork meatball strip steak pancetta turkey pork belly pig shoulder meatloaf tri-tip beef ribs. Turducken biltong boudin chuck spare ribs venison. Flank andouille capicola pig shoulder ribeye tenderloin cow pork loin fatback venison sausage. Ham pork loin bacon, pastrami capicola frankfurter spare ribs pork chop venison biltong ribeye ball tip. Pork loin flank ham jerky turkey biltong chicken tail strip steak short loin tri-tip meatball salami.</p>

                    </article>
                </section>       
            </div>
        </div>
    </div>
</div>

@section bottomPageScripts {

    <script type="text/javascript">
        
        $(document).ready(function () {
            MD.Initialize(); 
        });

    </script>
}